In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([('bird', 'Falconiformes', 389.0),
                   ('bird', 'Psittaciformes', 24.0),
                   ('mammal', 'Carnivora', 80.2),
                   ('mammal', 'Primates', np.nan),
                   ('mammal', 'Carnivora', 58)],
                  index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
                  columns=('class', 'order', 'max_speed'))

#### Groupby

In [3]:
df.groupby('class').sum()

        max_speed
class
bird        413.0
mammal      138.2

In [4]:
df.groupby(['class','order']).sum()

                       max_speed
class  order
bird   Falconiformes       389.0
       Psittaciformes       24.0
mammal Carnivora           138.2
       Primates              0.0

#### Indexing

In [5]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})

In [6]:
df.head()

     A      B         C         D
0  foo    one  0.319822  1.004979
1  bar    one  1.001801  1.332809
2  foo    two -0.787548  0.794891
3  bar  three  1.685991  0.060601
4  foo    two -0.912855  0.542375

In [7]:
df2 = df.set_index(['A','B'])

In [8]:
df2.groupby('A').sum()

            C         D
A
bar  3.634482 -0.465459
foo  0.049502  5.567870

In [9]:
df2.index.names.difference(['B'])

FrozenList(['A'])

In [10]:
df2.groupby(level=df2.index.names.difference(['B'])).sum()

            C         D
A
bar  3.634482 -0.465459
foo  0.049502  5.567870

#### Itertools

In [11]:
nums = [1,2,3,4,5,6,7,8,9,10]

In [12]:
list(zip([iter(nums)]*2))

[(<list_iterator at 0x297fa017348>,), (<list_iterator at 0x297fa017348>,)]

In [13]:
iters = [iter(nums)] * 2

In [14]:
list(zip(*iters))

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

In [15]:
import itertools as it
list(it.zip_longest(*iters))

[]

In [16]:
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1,2,3,4]
from itertools import zip_longest
results = list(zip_longest(my_strings, my_numbers,fillvalue=None))

print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', None)]

#### Numpy array

In [17]:
import numpy as np

x = np.array([[1,2],[3,4]])
y = np.array([[5,6],[7,8]])

v = np.array([9,10])
w = np.array([11, 12])

In [18]:
x.dot(v)

array([29, 67])

In [19]:
v.dot(x)

array([39, 58])

In [20]:
x = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
v = np.array([1, 0, 1])
y = np.empty_like(x)

In [21]:
y

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [22]:
x

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

#### Map function

In [23]:
list(map(len, ['a','bbbb','cd']))

[1, 4, 2]